/**
 * Remove default margin.
 */
.bookcover {
	float: right;
	
	width: 28%;
	margin: 1%;
}

.descripion {
  overflow: auto;
}

.preview {
	overflow: auto;
	text-align: center;
}

.bookpage {
	float: left;
	margin: 0;
	padding: 0;
	margin: 5%;
}

.doublepage {
	width: 90%;
}

.singlepage {
	width: 45%;
}
.leftpage {
	margin-right: 0;
}
.rightpage {
	margin-left: 0;
}

.papertext {
  width: 80%;
  margin: 10%;
  background-color: #fff0d0;
  padding: 30px;
  min-height: 600px;
  overflow: auto;
}

.papertext p {
	text-align: left;
}