/**
 * Remove default margin.
 */
body, html {
  width: 100%;
  margin: 0;
  background-color: #806040;
  background: linear-gradient(to bottom, #907050, #201008);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #004030;
  font-family: "Arial", sans-serif;
}

#Header {
  width: 100%;
  background-color: #c0e0ff;
  background: linear-gradient(to bottom, #d0f0ff, #b0c0ff);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 0;
  overflow: auto;
}
#Body {
  width: 100%;
  background-color: #c3dbbc;
  background: linear-gradient(to bottom, #c3ffbc, #40a040);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 600px;
  width: 100%;
  overflow: auto;
}

#footer {
  width: 100%;
  overflow: auto;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

ul {
  margin-left: 5%;
  margin-right: 5%;
}

p {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}


#HeaderHome {
	float: left;
	background-color: #d080ff;
	background: linear-gradient(to bottom, #f0a0ff, #b060e0);
}

.HeaderSection {
	float: right;
	
	width: 23%;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 10px;
	margin-top: 10px;
	
	text-align: center;

	background-color: #ffa0e0;
	background: linear-gradient(to bottom, #ffa0f0, #f080d0);
}

.FooterSection {
	float: left;
	
	width: 46%;
	margin: 1%;
	
	text-align: left;

}

.floatinglinksection {
	overflow: auto;
	margin: 5%;
}

.floatingpicturelink {
	height: 300px;
	margin: 100px;
	float: left;
}

.profilepicture {
	float: right;
	min-width: 300px;
	width: 25%;
}

.profile {
	width: 100%;
	overflow: auto;
}

.centeredVid {
  text-align: center;
}