</div>
<div id = "footer">
	<div class="FooterSection">
	<p>Contact us at:</p>
	<p>Email: <a href="mailto:info@stemforestbooks.com">info@stemforestbooks.com</a>.</p>
	<p>Instagram: <a href="https://www.instagram.com/stemforestbooks/">stemforestbooks</a>.</p>
	<p>YouTube: <a href="https://www.youtube.com/@StemForestBooks"> Stem Forest Books</a></p>
	</div>
	<div class="FooterSection">
	<p>All of our source code can be found at: <a href="https://github.com/quackack/StemForestBooksWebsite">Github, Repo OttiKidsWebsite</a>.</p>
	</div>
</div>