<div id = "Header">
	<a <!--InsertLinkTrackingHere--> href="<!--depth-->/index.html"><div id="HeaderHome" class="HeaderSection"><p>Go Home</p></div></a>
	<a <!--InsertLinkTrackingHere--> href="<!--depth-->/activities.html"><div class="HeaderSection"><p>Activities</p></div></a>
	<a <!--InsertLinkTrackingHere--> href="<!--depth-->/books.html"><div class="HeaderSection"><p>Books</p></div></a>
	<a <!--InsertLinkTrackingHere--> href="<!--depth-->/shop.html"><div class="HeaderSection"><p>Shop</p></div></a>
</div>

<div id = "Body">